*,
*::before,
*::after,
html,
body,
div,
span,
h1, h2, h3, h4, h5, h6, p,
a,
code,
img,
dl, dt, dd, ol, ul, li,
form, label, legend,
article,
aside,
footer, header, nav, address {
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  text-decoration: none;
  box-sizing: inherit;
  font-style: normal; }

ol, ul {
  list-style: none; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: calling-code, sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400; }

.heading-primary {
  font-size: 14.4rem;
  color: #FF5E5E;
  line-height: 90%;
  margin-bottom: 5rem; }

.paragraph-primary {
  font-size: inherit;
  color: #FF5E5E; }

.header {
  background-color: #262429;
  padding: 10rem;
  display: grid;
  grid-template-columns: 80% 1fr; }
  .header__heading {
    grid-column: 1 / 3; }
  .header__paragraph {
    grid-column: 1 / 2; }
