.row {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.column-1-of-4 {
    display: block;
    float: left;
    width: calc(100% / 3);
}

.column-3-of-4 {
    display: block;
    float: left;
    width: calc(2 * (100% / 3) / 3);
}