/* primary colours */

// #FFCE59 - #FFA323 - #FF6337 - #004A2F - #002F35

$primary-dark-green: #002F35;
$primary-light-green: #004A2F;
$primary-orange: #FF6337;
$primary-mustard: #FFA323;
$primary-yellow: #FFCE59;

$color-white: #FFF;
$color-black: #000;