
/* ---------------RGB - PRIMARY COLORS--------------- */

$color-primary-blue: rgba(3, 37, 53, 1);

$color-primary-yellow: rgba(255, 181, 21, 1);

$color-primary-mustard: rgba(255, 154, 0, 1);

$color-primary-orange: rgba(255, 99, 12, 1);

$color-primary-brick: rgba(218, 67, 2, 1);

/* ---------------RGB - WHITE, BLACK AND GREYS--------------- */

$color-white: rgba(251, 251, 242, 1);

$color-black: rgba(35, 32, 32, 1);

