/* <link rel="stylesheet" href="https://use.typekit.net/paa4nqi.css">

font-family: calling-code, sans-serif;
font-style: normal;
font-weight: 400;


Calling Code Italic

    font-family: calling-code, sans-serif;

    font-weight: 400;

    font-style: italic;

Calling Code Regular

    font-family: calling-code, sans-serif;

    font-weight: 400;

    font-style: normal;

Calling Code Bold Italic

    font-family: calling-code, sans-serif;

    font-weight: 700;

    font-style: italic;

Calling Code Bold

    font-family: calling-code, sans-serif;

    font-weight: 700;

    font-style: normal;
*/

.heading-primary {
color: $color-white;
font-family: 'calling-code', sans-serif;
font-weight: 700;
font-style: normal;
font-size: 4.8rem;
line-height: 6rem;
}

.paragraph-primary {
color: $color-white;
font-family: 'calling-code', sans-serif;
font-weight: 400;
font-style: normal;
font-size: 1.8rem;
line-height: 2.7rem;
}