/* HEADER HEADER HEADER HEADER */

.header {

    &__wrap {
        background-color: $color-primary-blue;
        padding: 5rem;
        height: 100%;
    }
}

.navigation {
        
    &__item {
        margin-bottom: 4rem;
    }

    &__link {
        color: $color-white;
        font-size: 1.8rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
        line-height: 2.1rem;

        &:hover {
            text-decoration: underline;
        }
    }
}
.social {

    &__item {
        display: inline-block;
    }

    &__link {

        &-icon {
        
        }
    }

}

.contact {

    &__item {
        color: $color-white;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2.5rem;
        letter-spacing: .1rem;
    }

    &__item-email {

        &--link{
            color: $color-white;
        }

    }
}

/* MAIN MAIN MAIN MAIN*/


.section {
    padding: 5rem 2.5rem;
    height: 100%;

    &__writing {
        background-color: $color-primary-yellow;
      
    }

    &__projects {
        background-color: $color-primary-mustard;
        
    }

    &__bio {
        background-color: $color-primary-orange;
        
    }
}