/* ---------------RGB - PRIMARY COLORS--------------- */
/* ---------------RGB - WHITE, BLACK AND GREYS--------------- */
*,
*::before,
*::after,
html,
body,
div,
span,
h1, h2, h3, h4, h5, h6, p,
a,
code,
img,
dl, dt, dd, ol, ul, li,
form, label, legend,
article,
aside,
footer, header, nav, address {
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  text-decoration: none;
  box-sizing: inherit;
  font-style: normal; }

ol, ul {
  list-style: none; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: calling-code, sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 400; }

.header {
  background-color: #262429;
  height: 110vh; }
